<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Data.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Design.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Diagram.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.OlapGridCommon.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.PropertyGrid.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.SfDiagram.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.SfGrid.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.SfShared.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF451" version="15.4.0.20" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF451" version="15.4.0.20" targetFramework="net461" />
</packages>